/*******************************************************
	over-arching rules across the whole page
********************************************************/
* {
	color:white;
}

body {
	background-image: url("bg.jpg");
}


/*******************************************************
	Style all of the headings for the page
********************************************************/

h1 {
	text-align: center;
	background-color: #C1F7FF;
	color: black;
	opacity: 0.75;
}
	
h2 {
	text-align: left;
	background-color: #77C4D9;
	color: black;
	opacity: 0.75;
}

	h2.fancyClass {
		color:red;
		font-weight:bold;
		text-decoration:underline;
	}

/*******************************************************
	Style all of the content for the page
********************************************************/

p {
	text-align: left;
	background-color: #40A4B2;
	color: black;
	opacity: 0.85;
}

#customerQuote {
	font-weight:bold;
	font-size:20px;
}
